<div id="description" class="tab-pane in active">
    <div class="product-tab">
        {% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}

    </div>
</div><!-- /.tab-pane -->
<div id="attribute" class="tab-pane in active">
    <div class="product-tab">
        {% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}

    </div>
</div><!-- /.tab-pane -->
<div id="review" class="tab-pane">
    <div class="product-tab">

        <div class="product-reviews">
            {% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %}

        </div><!-- /.product-reviews -->





    </div><!-- /.product-tab -->
</div><!-- /.tab-pane -->






