<div class="product-tabs inner-bottom-xs  wow fadeInUp">
    <div class="row">
        <div class="col-sm-3">
            {% include '@SyliusShop/Product/Show/Tabs/_menu.html.twig' %}
        </div>
        <div class="col-sm-9">

            <div class="tab-content">

                {% include '@SyliusShop/Product/Show/Tabs/_content.html.twig' %}

            </div><!-- /.tab-content -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.product-tabs -->






