{% extends "NSWebBundle::layout.html.twig" %}

{% block title %} Login {% endblock %}

{% block content %}
<section class="content-wrap">
    <div class="container clearfix">
        <div class="postcontent nobottommargin clearfix">
            {% if error %}
                <div class="style-msg errormsg">
                    <div class="sb-msg"><i class="icon-remove"></i><strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                </div>
                <div></div>
            {% endif %}


            <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                <div class="panel-body" style="padding: 40px;">
                    <form id="login-form" name="login-form" class="nobottommargin" action="{{ path('login_check') }}" method="post">
                        <h3>Login to your Account</h3>

                        <div class="col_full">
                            <label for="login-form-username">Username:</label>
                            <input type="text" id="login-form-username" name="_username" value="" class="form-control not-dark" />
                        </div>

                        <div class="col_full">
                            <label for="login-form-password">Password:</label>
                            <input type="password" id="login-form-password" name="_password" value="" class="form-control not-dark" />
                        </div>

                        <div class="col_full nobottommargin">
                            <button type="submit" class="button button-3d button-black nomargin" name="login-form-submit" value="login">Login</button>
                            <a href="{{ path('fos_user_resetting_request') }}" class="fright">Forgot Password?</a>
                        </div>
                    </form>
                    <div class="line line-sm">
                        <a href="{{ path('fos_user_registration_register') }}" class="">Don't have account yet ? Register now</a>
                    </div>

                    <div class="line line-sm"></div>


                </div>
            </div>


        </div><!-- .postcontent end -->

        {% include "NSWebBundle::_sidebar.html.twig" %}


    </div>
</section>
{% endblock %}