{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<section class="content-wrap">
    <div class="container clearfix">
        <div class="postcontent nobottommargin clearfix">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
</section>
{% endblock  %}
