{% extends "NSWebBundle::layout.html.twig" %}

{% block title %} Proposed new scene {% endblock %}

{% block content %}
    <section class="content-wrap">
        <div class="container clearfix">
            <div class="postcontent nobottommargin clearfix">
                <div id="posts" class="small-thumbs">
                    <div class="fancy-title title-double-border">
                        <h1>Propose next scene for <span>{{ scene.title }}</span></h1>
                    </div>






                </div><!-- #posts end -->



            </div>
            {% include "NSWebBundle::_sidebar.html.twig" %}
        </div>
    </section>

{% endblock %}

