<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
    <div class="flexslider">
        <div class="slider-wrap">
            {% for testimonial in testimonials %}
                <div class="slide">
                    <div class="testi-image">
                        <a href="#"><img src="{{ vich_uploader_asset(testimonial, 'imageFile') }}" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>{{ testimonial.content }}</p>
                        <div class="testi-meta">
                            {{ testimonial.name }}
                            <span>{{ testimonial.company }}.</span>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</div>
